:root {
  --foreground: #eee;
  --background: #111;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--foreground);
}

body,
#root,
#svg {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--background);
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: var(--foreground);
  opacity: 0.2;
}

button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  background: #222;
  color: var(--foreground);
  border: none;
  border-radius: 0.1rem;
  &:hover {
    background: #333;
  }
}
